@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    min-width: 663px;
    @apply flex items-center justify-between;
  }

  .menu li {
    @apply min-w-20 rounded-full text-center px-4 py-2 text-sm flex items-center;
  }

  .menu li a {
    @apply ml-2 text-primary font-bold;
  }
}

@layer base {
  html {
    color: #072635;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

canvas {
  width: 100% !important;
}
